@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá Mundo!</h1>
    <p>Código disponível em: <a href="https://github.com/FabricioCoimbra/AnotaCar"/>https://github.com/FabricioCoimbra/AnotaCar</p>
</div>
